/* /Pages/Debug.razor.rz.scp.css */
/* /Pages/Index.razor.rz.scp.css */
#tabs[b-s7l3f1t67z] {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

#layers[b-s7l3f1t67z] {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

#version[b-s7l3f1t67z] {
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: right;
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

#version:hover[b-s7l3f1t67z] {
    transform: scale(1.1, 1.1);
    right: 8px;
}

#credit[b-s7l3f1t67z] {
    position: absolute;
    top: 32px;
    right: 4px;
    text-align: right;
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

#credit:hover[b-s7l3f1t67z] {
    transform: scale(1.1, 1.1);
    right: 8px;
}

#logs[b-s7l3f1t67z] {
    background: #0f0f0f;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#credits[b-s7l3f1t67z] {
    background: #0f0f0f;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#change[b-s7l3f1t67z] {
    position: relative;
    margin-top: 50px;
}

#cred[b-s7l3f1t67z] {
    position: relative;
    margin-top: 50px;
}

.version[b-s7l3f1t67z] {
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}

#back[b-s7l3f1t67z] {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 36px;
    border: 2px solid yellow;
    background: transparent;
    border-radius: 10px;
    color: white;
    padding: 0 20px 0 20px;
}

#back:hover[b-s7l3f1t67z] {
    transform: scale(1.1, 1.1);
}

#disclaimer[b-s7l3f1t67z] {
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    padding: 5px;
}
/* /Pages/Layer.razor.rz.scp.css */
.layer[b-94y1376qvt] {
    position: relative;
    width: 100%;
    height: fit-content;
}

.blank[b-94y1376qvt] {
    width: 100px;
    height: 25px;
}

.upgrades[b-94y1376qvt] {
    position: relative;
    width: 100%;
    height: fit-content;
}
/* /Pages/PointDisplay.razor.rz.scp.css */
.pointsDisplay[b-jxihkmj9he] {
    padding-bottom: 7px;
    width: 90%;
    position: relative;
    z-index: 1000;
}
/* /Pages/PrestigeButton.razor.rz.scp.css */
.prestigeButton[b-id3gum0rla] {
    border: 4px solid;
    width: 200px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: block;
}

.prestigeButton:hover[b-id3gum0rla] {
    transform: scale(1.1, 1.1);
}
/* /Pages/Tab.razor.rz.scp.css */
.tab[b-9t9taaov4h] {
    height: 36px;
    border: 2px solid white;
    background: transparent;
    border-radius: 10px;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0 8px 0 8px;
}

.tab:hover[b-9t9taaov4h] {
    transform: scale(1.1, 1.1);
}
/* /Pages/Upgrade.razor.rz.scp.css */
.upgrade[b-ea3x7abw8h] {
    background: red;
    border-radius: 10px;
    margin: auto;
    width: 128px;
    height: 128px;
    border: 4px solid;
    border-color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
}

.container[b-ea3x7abw8h] {
    padding: 8px;
}

.text[b-ea3x7abw8h] {
    margin: auto;
    top: 50%;
    text-align: center;
}

.can:hover[b-ea3x7abw8h] {
    transform: scale(1.1, 1.1);
}
/* /Shared/MainLayout.razor.rz.scp.css */
