.layer {
    position: relative;
    width: 100%;
    height: fit-content;
}

.blank {
    width: 100px;
    height: 25px;
}

.upgrades {
    position: relative;
    width: 100%;
    height: fit-content;
}