<button class="tab" style="border-color: @color" @onclick="Clicked">@text</button>

@code {
    [Parameter] public string text { get; set; } = "Null";
    [Parameter] public string layer { get; set; } = "Null";
    [Parameter] public string color { get; set; } = "#ffffff";

    private void Clicked() => Index.OnTabClick(layer);
}
