.tab {
    height: 36px;
    border: 2px solid white;
    background: transparent;
    border-radius: 10px;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0 8px 0 8px;
}

.tab:hover {
    transform: scale(1.1, 1.1);
}